<!DOCTYPE html>
<html lang="zh-CN">
    <head>
        <meta charset="utf-8">
        <title>Mamier</title>
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=devive-width, initial-scale=1">
        <link rel="stylesheet" href="static/styles/normalize.css">
        <link rel="stylesheet" href="static/styles/bootstrap.min.css">
        <link rel="stylesheet" href="static/styles/index.css">
    </head>
    <body>
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <img class="title-log img-responsive" src="http://placehold.it/100X100" alt="log" style="float: left">
                </div>
                <div class="col-md-6 text-right text-uppercase">
                    <h1 class="title-super">XXX工作室</h1>
                    <h4>欢迎来到这里！！！</h4>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <hr>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12 main-cover">
                  <a href="static/images/cover.png" target="_blank"><img class="img-responsive" src="static/images/cover.png" alt=""></a>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <h2>项目展示</h2>
                </div>
            </div>
            <div class="row text-center">
                <div class="col-md-4">
                    <img class="img-responsive" src="http://placehold.it/1280X640" data-toggle="modal" data-target="#myModal1">
                    <h3 class="text-uppercase">项目名</h3>
                </div>
                <div class="col-md-4">
                    <img class="img-responsive" src="http://placehold.it/1280X640" data-toggle="modal" data-target="#myModal2">
                    <h3 class="text-uppercase">项目名</h3>
                </div>
                <div class="col-md-4">
                    <img class="img-responsive" src="http://placehold.it/1280X640" data-toggle="modal" data-target="#myModal3">
                    <h3 class="text-uppercase">项目名</h3>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <p class="text-center floor">版权所有我也不知道</p>
                    </div>
                </div>
            </div>

        <!-- Modal1 -->
        <div class="modal fade" id="myModal1" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="myModalLabel">项目名</h4>
            </div>
            <div class="modal-body">
                <img class="img-responsive" src="http://placehold.it/1280X640">
                <h3 class="text-uppercase">项目名</h3>
                <p style="margin-left: 10px;">项目介绍</p>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-default" data-dismiss="modal" onclick="window.location.href='static/images/project1.png'">下载实例</button>
              <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
            </div>
        </div>
        </div>
        <!-- Modal2 -->
        <div class="modal fade" id="myModal2" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="myModalLabel">项目名</h4>
            </div>
            <div class="modal-body">
                <img class="img-responsive" src="http://placehold.it/1280X640">
                    <h3 class="text-uppercase">项目名</h3>
                <p style="margin-left: 10px;"项目介绍</p>
            </div>
            <div class="modal-footer">
		<button type="button" class="btn btn-default" data-dismiss="modal" onclick="window.location.href='static/images/project2.png'">下载实例</button>
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
            </div>
        </div>
        </div>
        <!-- Modal3 -->
        <div class="modal fade" id="myModal3" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="myModalLabel">项目名</h4>
            </div>
            <div class="modal-body">
                <img class="img-responsive" src="http://placehold.it/1280X640">
                    <h3 class="text-uppercase">项目名</h3>
                <p style="margin-left: 10px;">项目介绍</p>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-default" data-dismiss="modal" onclick="window.location.href='static/images/project3.png'">下载实例</button>
              <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
            </div>
        </div>
        </div>
        </div>
        <script src="static/javascripts/jquery.min.js"></script>
        <script src="static/javascripts/bootstrap.min.js"></script>
        <script src="static/javascripts/index.js"></script>
    </body>
</html>
